# Set default behavior to automatically normalize line endings.
* text=auto

*.jpg  	binary
*.png 	binary
*.gif 	binary
*.ico   binary

# Force bash scripts to always use lf line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.sh text eol=lf

# Likewise, force cmd and batch scripts to always use crlf
*.cmd text eol=crlf
*.bat text eol=crlf

# Show the enclosing member in diff hunk headers
*.cs text diff=csharp
